
* {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
    text-decoration: none;
    font-weight: bold;
}
ul {
    list-style: none;
}
.active {
    color: rgb(247, 4, 4);
    text-decoration: underline;
    font-weight: bold;
}
body , html {
    overflow-x: hidden;
}

/* Navbar */
.navbar {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 20px;
    color: rgb(131, 23, 23);
}
.nav-links {
    display: flex;
    align-items: center;
}
.nav-links li {
    margin: 0 30px;
}

header {
    width: 100vw;
    height: 100vh;
    background-image: url(image/BANNER.jpg);
    background-position: bottom;
    background-size: cover;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
.header-content {
    margin-bottom: 150px;
    color: rgb(255, 235, 235);
    text-align: center;
}
.header-content h2 {
    font-size: 4vmin; 
}
.line {
    width: 150px;
    height: 4px;
    background: rgb(247, 4, 4);
    margin: 10px auto;
    border-radius: 5px;
}
.header-content h1 {
    font-size: 7vmin;
    margin-top: 50px;
    margin-bottom: 30px;
}
.ctn {
    padding: 8px 15px;
    background: rgb(247, 4, 4);
    border-radius: 30px;
    color: whitesmoke;
}
.menu-btn {
    position: absolute;
    top: 30px;
    right: 30px;
    width: 40px;
    cursor: pointer;
    display: none;
}

/* About Us */
section{
    width: 80%;
    margin: 80px auto;
}
.title {
    text-align: center;
    font-size: 4vmin;
    color: rgb(32, 7, 7);
}
.row {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}
.row .col {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.about .row {
    margin-top: 50px;
}
h4 {
    font-size: 3vmin;
    color: rgb(10, 1, 1);
    margin: 20px auto;
}
p {
    color: rgb(77, 7, 7);
    padding: 0px 40px;
}
.about .ctn {
    margin-top: 30px;
}
.footer {
    width: 100%;
    min-height: 100px;
    padding: 20px 80px;
    margin: 0;
    background: rgb(36, 2, 2);
    text-align: center;
}
.footer p {
    color: white;
    margin: 20px auto;
    padding: 20px auto;
}

/* Mobile device */
@media only screen and (max-width:850px){
    .menu-btn {
        display: block;
    }
    .navbar {
        padding: 0;
    }
    .logo {
        position: absolute;
        top: 30px;
        left: 30px;
    }
    .nav-links {
        flex-direction: column;
        width: 100%;
        height: 100vh;
        justify-content: center;
        background: rgb(97, 8, 8);
        margin-top: -900px;
        transition: all 0.5s ease;
    }
    .mobile-menu {
        margin-top: 0px;
        border-bottom-right-radius: 30%;

    }
    .nav-links li {
        margin: 30px auto;

}
    /* About Us */
    .row {
        flex-direction: column;
    }
    .row .col {
        margin: 20px auto;
    }
    .col img {
        max-width: 90%;
    }
    /* News */
    .news-content {
        width: 100%;
    }
    .directory .col {
        width: 100%;
    }
    .image-gallery {
        justify-content: center;
        align-items: center;
    }
    .image-gallery img {
        width: 90%;
    }
    .footer {
        padding: 10px;
    }
}


/* Animations */
img {
    transition: transform .3s ease;
}
img:hover {
    transform: scale(1.1);
}
.ctn:hover {
    background: whitesmoke;
    color: rgb(73, 4, 4);
    box-shadow: 2px 2px 5px #00000052;
}
li:hover {
    color: rgb(73, 4, 4);
    cursor: zoom-out;
}